*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    margin:auto;
    width:55%;
    background-color: #E2E0E0;
    margin-top: 3%;
    height:85vh;
    border-radius:2%;
    padding:2% 1% 1%;
    /* top right-left bottom */
}
/* Responsive Calculator Container  */
@media screen and (max-width:700px){
    .container{
        width:70%;
    }
}

@media screen and (max-width:500px){
    .container{
        width:80%;
    }
}

@media screen and (max-width:376px){
    .container{
        width:97%;
    }
}

/* Calculator Head  */
.head{
    width:96%;
    height:12%;
    margin:auto;
    background-color:#000000;
    color:white;
    text-align: center;
    padding-top:10px;
}

/* Display-Screen  */

.display{
    width:96%;
    height:15%;
    margin:auto;
    margin-top:1%;
    background-color:#F5F5F5;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

#screen{
    text-align: right;
    /* overflow: auto; */
    word-break: break-all;
}


/* Handle Sign-Box Grid Container */
.grid-container{
    display:grid;
    width:96%;
    height:70%;
    margin:auto;
    margin-top:1%;
    /* row-gap: 1px;
    column-gap:1px; */
    gap:2px 2px;  

    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows:repeat(5, 1fr);
    

}

.sign-box{
    background-color: white;
    /* cursor: pointer; */
}

 .sign-box:hover {
    cursor: pointer;
    transform: scale(1.03);
    border:1px solid blue;
    border-radius: 5px;
}


/* 0th box set up   */
#zero-box{
    /* background-color: #000000; */
    grid-column-start: 1;
    grid-column-end: 3;
}


/* Button Style  */

button{
    /*  Text Under Button Tag Autoatically are centered vertically and horizontally */
    height:100%;
    width:100%;
    background-color: #FFFFFF;
    border:0.5px solid white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40PX;
    font-weight: 400;
    cursor: pointer;
}


/* Do red Colour  */
.bg-red{
    background-color:#C14444;
    border:1px solid #C14444;
}
